{
  "openapi": "3.1.0",
  "info": {
    "title": "SolMarket API",
    "description": "Public and wallet-authenticated API for SolMarket market metadata, verified transaction recording, holder proposals, and admin operations.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.solmarket.app/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "walletHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-wallet-address"
      },
      "signedWalletMessage": {
        "type": "apiKey",
        "in": "header",
        "name": "x-wallet-message"
      },
      "signedWalletSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "x-wallet-signature"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      },
      "Market": {
        "type": "object",
        "additionalProperties": true
      },
      "Bet": {
        "type": "object",
        "additionalProperties": true
      },
      "Claim": {
        "type": "object",
        "additionalProperties": true
      },
      "Proposal": {
        "type": "object",
        "additionalProperties": true
      }
    }
  },
  "paths": {
    "/markets": {
      "get": {
        "summary": "List markets",
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "maximum": 200 } },
          { "name": "verify", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "Markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Market" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create market directly as admin",
        "security": [
          { "walletHeader": [], "signedWalletMessage": [], "signedWalletSignature": [] }
        ],
        "responses": {
          "201": { "description": "Market created" },
          "403": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/markets/{id}": {
      "get": {
        "summary": "Get market by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Market", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Market" } } } },
          "404": { "description": "Market not found" }
        }
      }
    },
    "/markets/{id}/bet": {
      "post": {
        "summary": "Record a verified on-chain bet transaction",
        "security": [ { "walletHeader": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Bet recorded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Bet" } } } },
          "409": { "description": "Transaction already recorded" }
        }
      }
    },
    "/markets/{id}/claim": {
      "post": {
        "summary": "Record a verified on-chain claim or refund transaction",
        "security": [ { "walletHeader": [] } ],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Claim recorded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Claim" } } } },
          "409": { "description": "Claim or transaction already recorded" }
        }
      }
    },
    "/markets/proposals": {
      "post": {
        "summary": "Submit holder-gated market proposal",
        "security": [ { "walletHeader": [], "signedWalletMessage": [], "signedWalletSignature": [] } ],
        "responses": { "201": { "description": "Proposal submitted" } }
      },
      "get": {
        "summary": "List proposals as admin",
        "security": [ { "walletHeader": [], "signedWalletMessage": [], "signedWalletSignature": [] } ],
        "responses": { "200": { "description": "Proposal list" } }
      }
    },
    "/admin/whoami": {
      "get": {
        "summary": "Check signed wallet admin status",
        "security": [ { "walletHeader": [], "signedWalletMessage": [], "signedWalletSignature": [] } ],
        "responses": { "200": { "description": "Admin status" } }
      }
    }
  }
}
